body {
    background: #B9F6C4;
    color: whitesmoke;
    text-align: center;
    font-family: "quick";
}

a { 
    color: whitesmoke;
    background-size: auto;
    text-decoration: none;
}

.grid {
    position: fixed;
    left: 50%;
    margin-left: -130px;
    grid-template-rows: auto auto auto;
    display: grid;
    grid-gap: 10px;
    width: 255px;
    background-color: inherit;
}

.grid-item {
    background-color: #B1A6DB;
    padding-top: 115px;
    padding-bottom: 115px;
    font-size: 20px;
}

.grid div {
    border: 5px solid whitesmoke;
    border-radius: 10px;
}

@font-face {
    font-family: "quick";
    src: url(../Fonts/Quicksand-Light.otf);
}