:root {
    --nav-height: 60px;
}

body {
    margin: 0px;
}
a {
    color: #181b3b;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
  }

.nav-wrapper {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.name {
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 25px;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul.dropHolder {
    margin-top: 1rem;
    list-style-type: none;
}



.listItem {
    margin-left: 1.5rem;
    height: 2.3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.section-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100vw - 16.6px);
    top: 60px;
    left: 0px;
}

.section1 {
    background:url(../images/blue_light.jpg) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
}

.section2 {
    background:url(../images/red_purple.jpg) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: calc(100vh + 3px);
}

.section3 {
    background:url(../images/orange_purple.jpg) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: calc(100vh + 3px);
}



.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}